.container-pad {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8%;
  }
  
  .pad-btn {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #010104;
    box-shadow: 1px 2px 3px #848484;
  }
  
  .container-central {
    display: flex;
  }

  .container-screen {
    background-color: #d3d3d3; /* cuerpo gris claro del gameboy */
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .screen-text {
    background-color: #9bbc0f; /* verde clásico del Game Boy */
    border: 4px inset #4a5d23;
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  .screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .screen img {
    width: 48px;
    height: auto;
    margin: 4px;
  }
  
  .container-text {
    margin-top: 10px;
    text-align: center;
  }
  
  .text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #333;
  }
  